.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;

}

.title {
    display: flex;
}

.list-container {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 18px;
}

/* .list-container:hover {
    
} */

.button {
    border: 2px solid #311d3f;
    background-color: #E23E57;
    color: #fff;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    font-size: 16px;
    
}