
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    color: #FFF;
}

.title {
    display: flex;
    font-family: "CaviarB";
    font-size: 38px;
    text-decoration: none;
}

.list-container {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 18px;
}

.button {
    border: 2px solid #393e46;
    background-color: #00adb5;
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-family: "CaviarB";
    font-size: 16px;
    text-decoration: none;
}
